{{define "body"}}
<h3 class="_lh-100pct _mgbt-32px">
  Create Post
</h3>

<form method=POST>

  <div class="bio-field _mgbt-16px">
    <label><strong>Name</strong></label>
    <div class=bio-input>
      <input name=name>
    </div>
  </div>

  <div class="bio-field _mgbt-32px">
    <label><strong>Content</strong></label>
    <div class=bio-textarea>
      <textarea name=content></textarea>
    </div>
  </div>

  <div class="_dp-f _alit-ct _jtfct-spbtw">
    <a class="bio-button -negative -outline _mgr-16px _pdh-16px" href=/>
      Back
    </a>
    <button type=submit class="bio-button _w-128px">
      Send
    </button>
  </div>

</form>
{{end}}
