{{define "body"}}
<h3 class="_lh-100pct _mgbt-8px">
  Post List <span class="_fw-300"> – v1.1.1</span>
</h3>

<a class=bio-button href=/create>
  New
</a>

<hr class="_opct-30 _mgbt-32px">

<ul class="_mgbt-32px">
  {{range .Posts}}
  <li class="_tal-r _mgbt-16px">
    <div class="_mgbt-4px">
      <strong>{{.Name}}</strong>
    </div>
    <p class="_bgcl-neutral-400 _pdh-16px _pdv-4px _dp-ilb _bdrd-4px _tal-l">
      {{.Content}}
    </p>
  {{end}}
</ul>
{{end}}
